<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Todo Item Due</h3>
      </div>
      <div class="modal-body">
        <b>Due in 10 minutes:</b>
        <p class="item-content"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
        <button type="button" class="btn btn-default complete">Done</button>
      </div>
    </div>
  </div>
</div>