<h1><%= @todo_list.title %></h1>

<ul class="todo_items">
  <%= render collection: @todo_items, partial: 'todo_items', as: :todo_item %>
</ul>

<p>
  <%= link_to "New Todo Item", new_todo_list_todo_item_path %>
</p>
